{% extends 'base.html.twig' %}

{% block body %}
	{% apply inline_css %}

        <style></style>

        <div>
            <h1>Ubereat</h1>

            <p>{{ deliveryDate }}</p>

            {% for dish in commandDishes %}
                {{ include('email/restaurant_command.html.twig') }}
            {% endfor %}
        </div>
	{% endapply %}
{% endblock %}
